################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/.idea/.idea.ConsoleChat/.idea
/ConsoleChat/bin/Debug/net9.0
/ConsoleChat/obj
/ConsoleChat/Properties
/ConsoleChat.sln.DotSettings.user
/AvaloniaChat/bin/Debug/net8.0
/AvaloniaChat/obj
/RazorPageChat/bin
/RazorPageChat/obj
/RazorPageChat/Properties
/RazorPageChat/.vs/RazorPageChat
/RazorPageChat/.config
/RazorPageChat/.vs/ProjectEvaluation
